#upcol{
	background-color: #fff;
	font-size: 18px;
	font-family: serif;
	opacity: 0.8;
	border: 0;
}

nav .navbar-brand{
	font-weight:bold;
	font-family: sans-serif;
	font-size:26px;
}

#upcol .dropdown-menu{
	font-size: 17px;
}

#bgp {
    width: 108%;
    opacity: 0.2;
    z-index: 1;
    position: fixed;
    margin: 0;
   	top:4em;
   	left: 0;
   	right:0;
   	bottom: 0;
}

.modal-content{
	top:10em;
}

body{
	display:block;
	padding-top: 2em;
	margin-left: 4%;
}

section .dropdown{
	margin-top: 5%;
	z-index: 20;
	padding: 0;
}

#dropdownMenu1, #dropdown-menu li{
	padding:6px 30px;
}

.form-control{
	width: 5%;
	font-family:Microsoft JhengHei;
	font-size: 12px;
	opacity: 0.8;
	display: inline;
}

.pics img{
	border:1.5px solid #fff;
	padding:10px;
	z-index: 1;
}


.item .pics{
	float:left;
	margin:5px 30px;
	font-family:Microsoft JhengHei;
}

.item .pics #title{
	padding-top:10px;
	text-align:center;
	font-family:Microsoft JhengHei;
}

section{
	position: relative;
	width: 100%;
	margin: 30px 40px;
	padding-bottom: 50px;
	z-index: 40;
	float:left;
}

section .item{
	position: relative;
	width: 100%;
	z-index: 10;
	float:left;
}

#add{
	float: right;
	position: absolute;
	left:15%;
	margin-top:5%;
	z-index: 500;
}

p{
	color:black;
}

#selector{
	width: 10%;
}

#pname {
	width: 20%;
}



